#mainbody{
	margin-top: 100px;
	margin-bottom: 100px;
}

#topnav, #bottomnav{
	overflow: hidden;
	position: fixed;
	height: 10%;
	width: 100%;
}

.nav-item{
	height: 100%;
	overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
    min-height: 50px;
}